.finance_content {
    display: block;
        width: 100%;
        transition: none;
}

.router-view {
        width: 73%;
        min-width: 1%;
}

.footer{
    display: none;
}

.router-menu .header-slide-bar{
        /*display: block;*/
    }

.finance_content .finance-freepenny {
    display: inline-block;
    width: 20%;
    height: 330px;
    float: left;
    margin-right: 6%;
    box-shadow: 0 5px 9px 1px #ececec;
    z-index: 2;
    transition: none;
}

.finance-freepenny h2 {
    border-bottom: 1px solid #2c54a1;
    text-align: center;
    padding-bottom: 10px;
    background-color: #3e72c3;
    font-size: 20px;
    margin: 0;
    padding-top: 10px;
    color: #f9f9f9;
}

.finance-freepenny-blockfreepenny .p {
    text-align: center;
    font-size: 30px;
    border-bottom: 1px solid #2c54a1;
    color: #ebeef4;
    margin: 0;
    background-color: #3262ad;
    font-weight: normal;
    padding-left: 0%;
}
.finance-freepenny-blockfreepenny .p text, .finance-freepemoney-blockfreepenny .p text  {
    font-size: 30px;
    color: #ebeef4;
    font-weight: normal;
}
.finance-freepenny-blockfreepenny .p span {
    color:#f9f9f9;
} 
    

.finance-freepenny-blockfreepenny .p em {
        color: #b0c9ef;
}
.finance-freepenny-blockAdress {
    text-align: center;
    border-bottom: 1px solid #2c54a1;
    padding-bottom: 18px;
    background-color: #3262ad;
}
.finance-freepenny-blockAdress p {
    margin: 0;
    margin-bottom: 0px;
    word-break: break-all;
    color: #809fce;
    font-weight: normal;
    font-size: 14px;
    padding: 10px 35px;
    min-width: 100px;
}
.finance-freepenny-blockAdress .span1{
    color:#f9f9f9;
    font-weight: normal;
    vertical-align: text-bottom;
    text-decoration: none;
    font-size: 12pt;
    color: #f9f9f9;
}
.finance-freepenny-blockAdress .span1 a{
    color:#f9f9f9;
    font-weight: normal;
    text-decoration: underline;
    color: #e6e6e6;
}

.finance-freepenny .finance-freepenny-slide h2 {
    color: #f9f9f9;
    font-weight: normal;
    text-align: center;
    font-size: 16px;
    padding-bottom: 16px;
    padding-top: 15px;
    background-color: #3668b7;
    cursor: pointer;
    z-index: 10;
}

.finance-freepenny-slide-arrowBig {
        display: inline-block;
    background-image: url('../images/arrow.png');
    width: 15px;
    height: 8px;
    padding-bottom: 2px;
    cursor:pointer;
    z-index: 2;
}

.finance-freepenny .finance-freepenny-slide-ul {
   width: 100%;
    list-style-type: none;
    text-align: center;
    padding: 0;
    box-shadow: inset 0 0 1px 1px #ececec;
        margin: 0;
        display: none;
        background-color: #ffffff;
        position: relative;
}
.finance-freepenny .finance-freepenny-slide-li {
        padding-bottom: 20px;
        padding-top: 20px;
    box-shadow: inset 0 0 1px 1px #ececec;
}




.finance_content .finance-freepemoney {
    display: inline-block;
    width: 20%;
    height: 330px;
    box-shadow: 0px 5px 10px 0px #ececec;
}

/*.finance_content .finance-freepemoney div{
    text-align: center;
    margin-top: 20%;
    font-size: 126px;
    color: gray;
}*/

.finance_content .finance-freepemoney:hover {
    background-color: #e3e3e3;
}

.finance-freepemoney h2 {
    box-shadow: inset 0 0 1px 1px #46c2d9;
    text-align: center;
    padding-bottom: 10px;
    background-color: #65d5eb;
    font-size: 20px;
    margin: 0;
    padding-top: 10px;
    color: #f9f9f9;
}

.finance-freepemoney-blockfreepenny .p {
    text-align: center;
    font-size: 30px;
    color: #f9f9f9;
    margin: 0;
    background-color: #4cc8df;
    font-weight: normal;
    box-shadow: inset 0 0 1px 1px #46c2d9;
}

.finance-freepemoney-blockfreepenny .p span, 
.finance-freepemoney-blockfreepenny .p em {
    color:#f9f9f9;
} 
.finance-freepemoney-blockfreepenny .p em {
    color:#c6e6ed;
}

.finance-freepemoney-blockAdress {
    text-align: center;
    box-shadow: inset 0 0 1px 1px #46c2d9;
    padding-bottom: 16px;
    background-color: #4cc8df;
}
.finance-freepenny-blockAdress p, .finance-freepemoney-blockAdress p {
    margin: 0;
    margin-bottom: 0px;
    word-break: break-all;
    color: #809fce;
    font-weight: normal;
    font-size: 14px;
    padding: 10px 20px;
    min-width: 100px;
}
.finance-freepemoney-blockAdress .span {
    font-weight: normal;
    vertical-align: text-bottom;
    text-decoration: none;
    font-size: 12pt;
    color: #f9f9f9;
}
.finance-freepemoney-blockAdress .span a {
    color: #f9f9f9;
    font-weight: normal;
    text-decoration: underline;
}

.finance-freepemoney .finance-freepemoney-slide h2 {
    color: #f9f9f9;
    font-weight: normal;
    text-align: center;
    font-size: 16px;
    padding-bottom: 16px;
    padding-top: 16px;
    background-color: #5ed3ea;
    cursor: pointer;
}

.finance-freepemoney-slide-arrowBig {
        display: inline-block;
    background-image: url('../images/arrow.png');
    width: 15px;
    height: 8px;
    padding-bottom: 2px;
    cursor: pointer;
}

.finance-freepemoney .finance-freepemoney-slide-ul {
   width: 100%;
    list-style-type: none;
    text-align: center;
    padding: 0;
    box-shadow: inset 0 0 1px 1px #ececec;
        margin: 0;
        display: none;
}
.finance-freepemoney .finance-freepemoney-slide-li {
        padding-bottom: 20px;
        padding-top: 20px;
    box-shadow: inset 0 0 1px 1px #ececec;
}


.finance_content .finance-exchange {
    display: inline-block;
    width: 48%;
    box-shadow: 0px 5px 10px 1px #ececec;
    margin-left: 1%;
    float: right;
    z-index: 1;
}

.finance-exchange h2 {
    box-shadow: inset 0 0 1px 1px #ececec;
    text-align: center;
    padding-bottom: 10px;
    background-color: #fa7741;
    font-size: 20px;
    margin: 0;
    padding-top: 10px;
    color: #f9f9f9;
}

.finance-exchange-block1 {
width: 49.5%;
    display: inline-block;
    float: left;
}

.finance-exchange-block2 {
    width: 50.5%;
    display: inline-block;
    height: 280px;
    box-shadow: inset 0 0 1px 1px #ececec;
}

.finance-exchange-block1-span {
        text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #f5f5f5;
}
.finance-exchange-block2-span {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #f5f5f5;
    border-left: 1px solid #e1e1e1;
}

.finance-exchange-block1-form {
    padding: 20px;
    padding-left: 20px;
    padding-top: 22px;

}

.finance-exchange-block1-form input {
        width: 40%;
    padding: 0;
    margin: 0;
    border: none;
}


.finance-exchange-block1-form input[type="button"] {
       color:#fa7741;
       background-color: #fafafa;
       box-shadow: inset 0 0 1px 1px #e2e2e2;
        padding-left: 10px;
        padding: 5px;
}
.finance-exchange-block1-form select {
    color: #fa7741;
    background-color: #fafafa;
    box-shadow: inset 0px 1px 0px 0px #e2e2e2;
    padding-left: 10px;
    padding: 5px;
    width: 44%;
    border: 1px solid #a5a5a5;
    height: 26px;
    border: none;
}
.finance-exchange-block1-form select:focus {
    outline: none;
}


.finance-exchange-block1-form input[type="button"] {
    width: 93%;
    margin-top: 17px;
    height: 35px;
    background-color: #fa7741;
    color: #ffffff;
}

.finance-exchange-block1-form input[type="text"] {
    box-shadow: inset 0 0 1px 1px #e2e2e2;
    padding: 5px;
    padding-left: 10px;
    height: 26px;
    background-color: #fff;
}

.finance-exchange-block1-form span {
    text-align: center;
    display: block;
    margin: 0;
    padding: 0;
    margin-bottom: -5px;
    margin-top: 15px;
}



.finance-exchange-block2-form {
   padding: 20px;
    padding-left: 40px;
    padding-top: 10px;
    padding-top: 10px;
}

.finance-exchange-block2-form input {
        width: 40%;
    padding: 0;
    margin: 0;
    border: none;
}

.finance-exchange-block2-form input[type="button"] {
       color:#fa7741;
       background-color: #fafafa;
       box-shadow: inset 0 0 1px 1px #e2e2e2;
        padding-left: 10px;
        padding: 5px;
}

.finance-exchange-block2-form input[type="submit"] {
    width: 93%;
    margin-top: 17px;
    height: 35px;
    background-color: #fa7741;
    color: #ffffff;
}

.finance-exchange-block2-form input[type="text"] {
       box-shadow: inset 0 0 1px 1px #e2e2e2;
       padding: 5px;
       padding-left: 10px;
       
}

.finance-exchange-block2-form span {
           text-align: center;
    display: block;
    margin: 0;
    padding: 0;
    margin-bottom: -15px;
    margin-top: 5px;
}

.finance-exchange-block3 p{
     height: 30px;
    text-align: center;
    padding-top: 15px;
    margin: 0;
    padding-bottom: 10px;
}

.finance-exchange-block3 p span{
    font-size: 18px;
    color:#fa7741;
}
/*                                 */
.finance-transaction{
        width: 100%;
        display: block;
    height: 300px;
    margin-top: 50px;
}

.finance-transaction table{
        width: 100%;
        text-align: center;
}

.finance-transaction table th {
    border: 1px solid #5f89ca;
    border-collapse: collapse;
    background-color: #6d94d0;
    color: #ffffff;
    height: 50px;
}
.finance-transaction table, td, tr {
    border: 1px solid #eaeaea;
    border-collapse: collapse;
    height: 58px;
    color: #9bb0da;
}

.finance-transaction table td span{
    color: #cacaca;
   
}

.finance-transaction-alter{
    display: none;
}


/* table */
/* slide active*/


/*.finance_freepemoney_slide_li_vivod {
position: absolute;
    width: 61%;
    top: 12%;
    left: 30%;
    background-color: #ffffff;
    box-shadow: inset 0 0 1px 1px #e2e2e2;
    background-color: #f1f1f1;
}*/

.finance_freepemoney_slide_li_vivod {
    position: absolute;
    width: 45%;
    top: 12%;
    left: 13%;
    height: 424px;
    background-color: #ffffff;
    box-shadow: inset 0 0 1px 1px #e2e2e2;
    background-color: #f1f1f1;
}
.slide-buy {
    position: absolute;
    top: 35%;
    left: 37%;
    width: 18%;
    background-color: #f1f1f1;
}
.slide-buy .buy_input {
    margin: 30px auto;
    margin-bottom: 20px;
    display: block;
    border: none;
    border-bottom: 1px solid #dddddd;
    opacity: 0.8;
}
.buy_input:focus {
    outline: none;
}
.slide-buy .buy_button {
    margin-left: 30px;
    width: 150px;
    height: 30px;
    border: none;
    margin-bottom: 30px;
    background-color: #4062a7;
    color: #fffcf5;
    margin: 0 auto;
    display: block;
    margin-bottom: 30px;
}
.slide-buy span {
    display: block;
    margin-left: 30px;
    margin-bottom: 20px;
    font-size: 12pt;
}
.slide-buy .buy_repeat {
    display: block;
    width: 150px;
    height: 30px;
    margin: 30px auto;
    background-color: #4062a7;
    border:none;
    color: #fffcf5;
}
.finance_freepemoney_slide_li_zapr{
    position: absolute;
    top: 13%;
    left: 56%;
    box-shadow: inset 0 0 1px 1px #e2e2e2;
    background-color: #f1f1f1;
    width: 40%;
}

/*.finance_freepemoney_slide_li_vivod_block1{
    display: inline-block;
    width: 49.5%;
    height: 100%;
}*/
.finance_freepemoney_slide_li_vivod_block1 {
    display: inline-block;
    width: 100%;
    height: 100%;
}
.finance_freepemoney_slide_li_vivod_block2{
    display: inline-block;
    width: 49.5%;
    vertical-align: top;
}

.finance_freepemoney_slide_li_vivod h2 {
    text-align: center;
    margin: 0;
    color: #65d5eb;
    font-size: 22px;
    box-shadow: inset 0 0 10px 1px #e7e7e7;
    padding-top: 14px;
    padding-bottom: 14px;
}

.finance_freepemoney_slide_li_vivod_block1_block1,
.finance_freepemoney_slide_li_vivod_block2_block1 {
    display: inline-block;
    width: 49%;
}
.finance_freepemoney_slide_li_vivod_block1_block2,
.finance_freepemoney_slide_li_vivod_block2_block2 {
    display: inline-block;
    width: 49%;
    vertical-align: top;
    
}

.finance_freepemoney_slide_li_vivod_block1_block1 input[type="text"]{
   width: 40%;
    margin-left: 10%;
    height: 37px;
    border: none;
    border-right: 1px solid #e2e2e2;
    padding-left: 10px;
    box-shadow: inset 0 0 1px 1px #e2e2e2;
    color: black;
}
.finance_freepemoney_slide_li_vivod_block1_block1 input[type="text"]:focus,
.finance_freepemoney_slide_li_vivod_block1_block3 input[type="text"]:focus{
   outline:none;
}

.finance_freepemoney_slide_li_vivod_block1_block1 .select{
       width: 40%;
    /* margin-left: 10%; */
    height: 39px;
    border: none;
    padding-left: 6px;
    box-shadow: inset 0 0 1px 1px #e2e2e2;
}
.finance_freepemoney_slide_li_vivod_block1_block1 .select:focus{
   outline:none;
}

.finance_freepemoney_slide_li_vivod_block1_block1 span, 
.finance_freepemoney_slide_li_vivod_block1_block2 span,
.finance_freepemoney_slide_li_vivod_block2_block1 span,
.finance_freepemoney_slide_li_vivod_block2_block2 span
{
    display: inline-block;
        margin-left: 10%;
            margin-top: 13%;
    margin-bottom: 7%;
    color:#a5a5a5;
}

.finance_freepemoney_slide_li_vivod_block1_block2 .select2,
.finance_freepemoney_slide_li_vivod_block2_block1 .select2{
    height: 40px;
    border: none;
    width: 72%;
    padding-left: 10px;
    margin-left: 10%;
    box-shadow: inset 0 0 1px 1px #e2e2e2;
}

.finance_freepemoney_slide_li_vivod_block1_block3{
    height: 100px;
    display: block;
}

.finance_freepemoney_slide_li_vivod_block1_block3 span,
.finance_freepemoney_slide_li_vivod_block2_block3 span{
        margin-left: 5%;
        display: block;
        margin-top: 6%;
        display: inline-block;
            margin-bottom: 3%;
            color:#a5a5a5;
}

.finance_freepemoney_slide_li_vivod_block1_block3 input[type="text"]{
    margin-left: 5%;
    height: 35px;
    width: 75%;
    border: none;
    box-shadow: inset 0 0 1px 1px #e2e2e2;
    padding-left: 20px;
    margin-bottom: 5%;
}

.finance_freepemoney_slide_li_vivod_block2_block3 input[type="text"]{
     margin-left: 5%;
    height: 35px;
    width: 85%;
    border: none;
    box-shadow: inset 0 0 1px 1px #e2e2e2;
    padding-left: 20px;
    margin-bottom: 5%;
}

.plus1{
        display: inline-block;
    background-image: url('../images/plus.png');
    width: 18px;
    height: 18px;
    margin-left: 2%;
    padding-top: 0%;
}

.span {
    color:#a5a5a5;
}

.check{
    margin-left: 3%;
}



.check label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 13px;
}

.check label:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: #aaa;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}

.check input[type=checkbox] {
    display: none;
}
.check label:before{
    border-radius: 3px;
}

.check input[type=checkbox]:checked + label:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
    color: #f3f3f3;
    text-align: center;
    line-height: 15px;
}







.finance_freepemoney_slide_li_vivod_block1_block3 .text{
    display: inline-block;
    color: #65d5eb;
    margin-left: 3%;
}

.finance_freepemoney_slide_li_vivod_block1_block3 input[type="button"]{
    margin-left: 4%;
    width: 37%;
    height: 40px;
    border: none;
    background-color: #65d5eb;
    border-radius: 4%;
    color:#ffffff;
}
.finance_freepemoney_slide_li_vivod_block2_block3 input[type="button"]{
    margin-left: 22%;
    width: 37%;
    height: 40px;
    border: none;
    background-color: #65d5eb;
    border-radius: 4%;
    color:#ffffff;
}


::-webkit-input-placeholder {color:black !important;}
::-moz-placeholder          {color:black !important;}/* Firefox 19+ */
:-moz-placeholder           {color:black !important;}/* Firefox 18- */
:-ms-input-placeholder      {color:black !important;}


.finance_freepemoney_slide_li_vivod_block2_block2 input[type="text"] {
    width: 80%;
    margin-left: 10%;
    height: 35px;
    border: none;
    box-shadow: inset 0 0 1px 1px #e2e2e2;
}

/* end */


/*  zapr */

.finance_freepemoney_slide_li_zapr_block1{
    padding-bottom: 30px;
    border-bottom: 1px solid #e2e2e2 ;
}
.finance_freepemoney_slide_li_zapr h2,
.finance_freepemoney_slide_li_otpr h2{
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    color: #65d5eb;
    margin: 0;
    font-size: 20px;
    box-shadow: inset 0 0 1px 1px #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
}

.finance_freepemoney_slide_li_zapr .span {
    display: block;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.finance_freepemoney_slide_li_zapr select {
        margin-left: 6%;
    width: 60%;
    height: 40px;
    border: none;
    display: inline-block;
    box-shadow: inset 0 0 1px 1px #e2e2e2;
}

.finance_freepemoney_slide_li_zapr select:focus {
    outline: none;
}

.finance_freepemoney_slide_li_zapr .add{
       display: inline-block;
    width: 30%;
    vertical-align: top;
    margin-top: 2%;
    margin-left: 2%;
}

.finance_freepemoney_slide_li_zapr_block1 a{
}

.finance_freepemoney_slide_li_zapr .input2 {
    margin-left: 6%;
    height: 35px;
    width: 80%;
    border: none;
    box-shadow: inset 0 0 1px 1px #e2e2e2;
}

.finance_freepemoney_slide_li_zapr .input3{
   width: 17%;
    margin-left: 6%;
    height: 40px;
    border: none;
    border-right: 1px solid #e2e2e2;
    padding-left: 20px;
    box-shadow: inset 0 0 1px 1px #e2e2e2;
    color: black;

}

.finance_freepemoney_slide_li_zapr input[type="text"]:focus,
 .finance_freepemoney_slide_li_otpr_block1 .input1:focus,
  .finance_freepemoney_slide_li_otpr_block1 .textarea:focus
 {
   outline:none;
}

.finance_freepemoney_slide_li_zapr_block1 .select{
width: 20%;
    margin-left: 0%;
    height: 42px;
    border: none;
    padding-left: 6px;
    box-shadow: inset 0 0 1px 1px #e2e2e2;
}
.finance_freepemoney_slide_li_zapr_block1 .select:focus{
   outline:none;
}

.finance_freepemoney_slide_li_zapr_block1 .input4{
    margin-left: 4%;
    width: 32%;
    height: 40px;
    border: none;
    background-color: #65d5eb;
    color: #ffffff;
}

.finance_freepemoney_slide_li_zapr_block2 .input5 {
        margin-left: 6%;
    height: 35px;
    padding-left: 10px;
    width: 85%;
    border: none;
    box-shadow: inset 0 0 1px 1px #e2e2e2;
}

.finance_freepemoney_slide_li_zapr_block2 .input6 {
        margin-left: 6%;
    height: 35px;
    padding-left: 10px;
    width: 85%;
    border: none;
    box-shadow: inset 0 0 1px 1px #e2e2e2;
}

.finance_freepemoney_slide_li_zapr_block2 .abs{
    position: relative;
    left: -7%;
    top: 4px;
        margin-left: 0;
}

.finance_freepemoney_slide_li_zapr_block2 .bl {
    width: 58%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.finance_freepemoney_slide_li_zapr_block2 .qrcode {
   background-image: url('../images/qrcode.png');
    width: 120px;
    height: 120px;
    display: inline-block;
    vertical-align: top;
    margin-right: 3%;
    float: right;
}
.finance_freepemoney_slide_li_zapr_block2 .d{
    display: inline-block;
    width: 72%;
}

.finance_freepemoney_slide_li_zapr_block2 .bl1 {
       width: 28%;
    margin-top: 7%;
    display: inline-block;
    margin-bottom: 3%;
    vertical-align: top;
}

.finance_freepemoney_slide_li_zapr_block2 .input7 {
        margin-left: 4%;
    width: 28%;
    height: 40px;
    border: none;
    background-color: #65d5eb;
    color: #ffffff;
    margin-top: 7%;
    border-radius: 4px;
}




/* otpr*/

    .finance_freepemoney_slide_li_otpr {
        position: absolute;
    width: 43%;
    top: 21%;
    left: 52%;
    background-color: #ffffff;
     box-shadow: inset 0 0 1px 1px #e2e2e2;
    background-color: #f1f1f1;
    }

    .finance_freepemoney_slide_li_otpr_block1 {
        display: inline-block;
        width: 49.5%;
        vertical-align: top;
    }

    .finance_freepemoney_slide_li_otpr_block2{
    display: inline-block;
    width: 40.5%;
    vertical-align: top;
    float: right;
    }

    .finance_freepemoney_slide_li_otpr_block1 .span,
       .finance_freepemoney_slide_li_otpr_block2 .span{
            display: block;
        margin-left: 5%;
            margin-top: 6%;
    margin-bottom: 7%;
    color:#a5a5a5;
    }

   .finance_freepemoney_slide_li_otpr_block1 .input1 {
    margin-left: 5%;
    width: 90%;
    height: 35px;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: inset 0 0 1px 1px #e2e2e2;
}

.finance_freepemoney_slide_li_otpr_block1 .textarea {
    margin-left: 5%;
    width: 98%;
    border: none;
    height: 100px;
    padding-left: 13px;
    padding-top: 10px;
    margin-bottom: 8%;
    box-shadow: inset 0 0 1px 1px #e2e2e2;
}
    
 .finance_freepemoney_slide_li_otpr_block1    ::-webkit-input-placeholder {color:#e3e3e3 !important;}
.finance_freepemoney_slide_li_otpr_block1 ::-moz-placeholder          {color:#e3e3e3 !important;}/* Firefox 19+ */
.finance_freepemoney_slide_li_otpr_block1 :-moz-placeholder           {color:#e3e3e3 !important;}/* Firefox 18- */
.finance_freepemoney_slide_li_otpr_block1 :-ms-input-placeholder      {color:#e3e3e3 !important;}

 .finance_freepemoney_slide_li_otpr_block1    ::-webkit-input-placeholder {color:#e3e3e3 !important;}
.finance_freepemoney_slide_li_otpr_block1 ::-moz-placeholder          {color:#e3e3e3 !important;}/* Firefox 19+ */
.finance_freepemoney_slide_li_otpr_block1 :-moz-placeholder           {color:#e3e3e3 !important;}/* Firefox 18- */
.finance_freepemoney_slide_li_otpr_block1 :-ms-input-placeholder      {color:#e3e3e3 !important;}

.finance_freepemoney_slide_li_otpr_block2 input[type="text"]{
   width: 40%;
    margin-left: 5%;
    height: 37px;
    border: none;
    border-right: 1px solid #e2e2e2;
    padding-left: 10px;
    box-shadow: inset 0 0 1px 1px #e2e2e2;
    color: black;
}
.finance_freepemoney_slide_li_otpr_block2 input[type="text"]:focus,
.finance_freepemoney_slide_li_otpr_block2 input[type="text"]:focus{
   outline:none;
}

.finance_freepemoney_slide_li_otpr_block2 .select{
       width: 40%;
    /* margin-left: 10%; */
    height: 39px;
    border: none;
    padding-left: 6px;
    box-shadow: inset 0 0 1px 1px #e2e2e2;
}
.finance_freepemoney_slide_li_otpr_block2 .select:focus{
   outline:none;
}

.finance_freepemoney_slide_li_otpr_block2 .input7{
    margin-left: 6%;
    width: 81%;
    height: 40px;
    border: none;
    background-color: #65d5eb;
    color: #ffffff;
    margin-top: 25%;
    margin-bottom: 10%;
    border-radius: 4px;
}

.finance_freepemoney_slide_li_otpr_block2 .input7:focus{
    outline: none;
}

/**/

/*.finance_freepemoney_slide_li_buy {
    position: absolute;
    top: 13%;
    left: 22%;
    box-shadow: inset 0 0 1px 1px #e2e2e2;
    background-color: #f1f1f1;
    width: 53%;
}*/

.finance_freepemoney_slide_li_buy {
    position: absolute;
    top: 8%;
    left: 13%;
    box-shadow: inset 0 0 1px 1px #e2e2e2;
    background-color: #f1f1f1;
    width: 33%;
}

.finance_freepemoney_slide_li_buy h2{
    text-align: center;
    margin: 0;
    padding-bottom: 15px;
    padding-top: 15px;
    box-shadow: inset 0 0 9px 1px #e2e2e2;
    color:#3262ad;
}

/*.finance_freepemoney_slide_li_buy .block {
    display: inline-block;
    width: 24%;
        vertical-align: top;
}*/

.finance_freepemoney_slide_li_buy .block {
    display: inline-block;
    width: 49%;
    vertical-align: top;
}

/*.finance_freepemoney_slide_li_buy .finance_freepemoney_slide_li_buy_block2 {
    display: inline-block;
    width: 32%;
        vertical-align: top;
}*/

.finance_freepemoney_slide_li_buy .finance_freepemoney_slide_li_buy_block2 {
    display: inline-block;
    width: 48%;
    vertical-align: top;
}

/*.finance_freepemoney_slide_li_buy .finance_freepemoney_slide_li_buy_block3 {
    display: inline-block;
    width: 20%;
        vertical-align: top;
}*/

.finance_freepemoney_slide_li_buy .finance_freepemoney_slide_li_buy_block3 {
    display: inline-block;
    width: 93%;
    vertical-align: top;
}

.finance_freepemoney_slide_li_buy .finance_freepemoney_slide_li_buy_block4 {
    display: inline-block;
    width: 20%;
        vertical-align: top;
}

.finance_freepemoney_slide_li_buy_block5 {
    display: block;
    text-align: center;
    padding-top: 20px;
    border-top: #a5a5a5;
}
.finance_freepemoney_slide_li_buy .block span{
    display: inline-block;
    margin-left: 10%;
    margin-top: 7%;
}

.finance_freepemoney_slide_li_buy .input1 {
    width: 69%;
    margin-left: 10%;
    margin-top: 9%;
    border: none;
    height: 40px;
    padding-left: 20px;
        margin-bottom: 0%;
        box-shadow: inset 0 0 1px 1px #e2e2e2;
}

/*.finance_freepemoney_slide_li_buy .input2 {
    width: 69%;
    margin-left: 10%;
    margin-top: 5%;
    border: none;
    height: 40px;
    padding-left: 20px;
    box-shadow: inset 0 0 1px 1px #e2e2e2;
}*/

.finance_freepemoney_slide_li_buy .input2 {
    width: 69%;
    margin-left: 10%;
    margin-top: 10%;
    border: none;
    height: 40px;
    padding-left: 20px;
    box-shadow: inset 0 0 1px 1px #e2e2e2;
}

 .finance_freepemoney_slide_li_buy .finance_freepemoney_slide_li_buy_block5 .span1 {
    display: inline-block;
    margin-left: -32%;
    margin-top: 7%;
        color: #a5a5a5;
}

.finance_freepemoney_slide_li_buy .input7 {
    width: 82%;
    margin-left: 5%;
    margin-top: 5%;
    border: none;
    height: 40px;
    padding-left: 20px;
    box-shadow: inset 0 0 1px 1px #e2e2e2;
}

.finance_freepemoney_slide_li_buy_block6 {
    margin-top: 30px;
    padding-left: 21px;
    margin-bottom: 20px;
}

.finance_freepemoney_slide_li_buy .input8 {
    /* color: #fa7741; */
    background-color: #fafafa;
    /* box-shadow: inset 0 0 1px 1px #e2e2e2; */
    padding-left: 10px;
    padding: 5px;
    width: 10%;
    border: 1px solid #a5a5a5;
}
.finance_freepemoney_slide_li_buy .input10 {
    width: 20%;
    margin-left: 24%;
    margin-top: 0%;
    border: none;
    height: 36px;
    padding-left: 20px;
    margin-bottom: 0%;
    box-shadow: inset 0 0 1px 1px #e2e2e2;
}
.finance_freepemoney_slide_li_buy_block3 .text{
      display: inline-block;
    color: #3262ad;
}

/*.finance_freepemoney_slide_li_buy_block3 .input3 {
margin-left: 4%;
    width: 87%;
    margin-top: 11%;
    height: 40px;
    border: none;
    background-color: #3262ad;
    border-radius: 4%;
    color: #ffffff;
    box-shadow: inset 0 0 1px 1px #e2e2e2;
}*/

.finance_freepemoney_slide_li_buy_block3 .input3 {
    margin-left: 15%;
    width: 35%;
    margin-top: 11%;
    margin-bottom: 10%;
    height: 40px;
    border: none;
    background-color: #3262ad;
    border-radius: 4%;
    color: #ffffff;
    box-shadow: inset 0 0 1px 1px #e2e2e2;
}

 .good {
margin-left: -1%;
    width: 20%;
    margin-top: 1%;
    height: 40px;
    border: none;
    background-color: #3262ad;
    border-radius: 4%;
    color: #ffffff;
    box-shadow: inset 0 0 1px 1px #e2e2e2;
    margin-bottom: 3%;
}

.finance_freepemoney_slide_li_buy_block4 p{
    margin-top: 25px;
    margin-left: 6%;
    font-size: 19px;
}

.finance_freepemoney_slide_li_buy .input1:focus,
.finance_freepemoney_slide_li_buy .input2:focus,
.finance_freepemoney_slide_li_buy_block3 .input3:focus{
    outline: none;
}

/* module-welcome_finance*/

    .welcome_finance{
    width: 50%;
    border: 1px solid #ececec;
    height: 250px;
    margin: 0 auto;
    margin-top: 210px;
    box-shadow: 0px 10px 20px 1px #ececec;
    }
    .welcome_finance h2 {
display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 18pt;
    color: #b0b0b0;
    margin-top: 20px;
    }

.welcome_finance button {
    display: block;
    margin: 0 auto;
    width: 30%;
    margin-top: 55px;
    background-color: #2c54a1;
    border: none;
    color: #ececec;
    height: 40px;
}
.welcome_finance .error {
        display: block;
    margin: 0 auto;
    text-align: center;
    color: red;
}

.welcome_finance input {
    width: 50%;
    display: block;
    border: none;
    height: 30px;
    margin: 0 auto;
    margin-top: 30px;
    padding-left: 20px;
    transition: none;
    border-bottom: 1px solid #2c54a1;
}

    .welcome_finance input:focus {
        outline:none;
    }

    .welcome_finance .disable {
        border-bottom: : 1px solid red;
        transition: none;
    }



/**/
.router-view {
    transition: none;
}
.windows8 {
	position: relative;
	width: 78px;
	height:78px;
	margin:auto;
    margin-top: 90px;
}

.windows8 .wBall {
	position: absolute;
	width: 74px;
	height: 74px;
	opacity: 0;
	transform: rotate(225deg);
		-o-transform: rotate(225deg);
		-ms-transform: rotate(225deg);
		-webkit-transform: rotate(225deg);
		-moz-transform: rotate(225deg);
	animation: orbit 6.96s infinite;
		-o-animation: orbit 6.96s infinite;
		-ms-animation: orbit 6.96s infinite;
		-webkit-animation: orbit 6.96s infinite;
		-moz-animation: orbit 6.96s infinite;
}

.windows8 .wBall .wInnerBall{
	position: absolute;
	width: 10px;
	height: 10px;
	background: #2c54a1;
	left:0px;
	top:0px;
	border-radius: 10px;
}

.windows8 #wBall_1 {
	animation-delay: 1.52s;
		-o-animation-delay: 1.52s;
		-ms-animation-delay: 1.52s;
		-webkit-animation-delay: 1.52s;
		-moz-animation-delay: 1.52s;
}

.windows8 #wBall_2 {
	animation-delay: 0.3s;
		-o-animation-delay: 0.3s;
		-ms-animation-delay: 0.3s;
		-webkit-animation-delay: 0.3s;
		-moz-animation-delay: 0.3s;
}

.windows8 #wBall_3 {
	animation-delay: 0.61s;
		-o-animation-delay: 0.61s;
		-ms-animation-delay: 0.61s;
		-webkit-animation-delay: 0.61s;
		-moz-animation-delay: 0.61s;
}

.windows8 #wBall_4 {
	animation-delay: 0.91s;
		-o-animation-delay: 0.91s;
		-ms-animation-delay: 0.91s;
		-webkit-animation-delay: 0.91s;
		-moz-animation-delay: 0.91s;
}

.windows8 #wBall_5 {
	animation-delay: 1.22s;
		-o-animation-delay: 1.22s;
		-ms-animation-delay: 1.22s;
		-webkit-animation-delay: 1.22s;
		-moz-animation-delay: 1.22s;
}



@keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		transform: rotate(180deg);
		animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		transform: rotate(300deg);
		animation-timing-function: linear;
		origin:0%;
	}

	30% {
		opacity: 1;
		transform:rotate(410deg);
		animation-timing-function: ease-in-out;
		origin:7%;
	}

	39% {
		opacity: 1;
		transform: rotate(645deg);
		animation-timing-function: linear;
		origin:30%;
	}

	70% {
		opacity: 1;
		transform: rotate(770deg);
		animation-timing-function: ease-out;
		origin:39%;
	}

	75% {
		opacity: 1;
		transform: rotate(900deg);
		animation-timing-function: ease-out;
		origin:70%;
	}

	76% {
	opacity: 0;
		transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		transform: rotate(900deg);
	}
}

@-o-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-o-transform: rotate(180deg);
		-o-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-o-transform: rotate(300deg);
		-o-animation-timing-function: linear;
		-o-origin:0%;
	}

	30% {
		opacity: 1;
		-o-transform:rotate(410deg);
		-o-animation-timing-function: ease-in-out;
		-o-origin:7%;
	}

	39% {
		opacity: 1;
		-o-transform: rotate(645deg);
		-o-animation-timing-function: linear;
		-o-origin:30%;
	}

	70% {
		opacity: 1;
		-o-transform: rotate(770deg);
		-o-animation-timing-function: ease-out;
		-o-origin:39%;
	}

	75% {
		opacity: 1;
		-o-transform: rotate(900deg);
		-o-animation-timing-function: ease-out;
		-o-origin:70%;
	}

	76% {
	opacity: 0;
		-o-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-o-transform: rotate(900deg);
	}
}

@-ms-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-ms-transform: rotate(180deg);
		-ms-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-ms-transform: rotate(300deg);
		-ms-animation-timing-function: linear;
		-ms-origin:0%;
	}

	30% {
		opacity: 1;
		-ms-transform:rotate(410deg);
		-ms-animation-timing-function: ease-in-out;
		-ms-origin:7%;
	}

	39% {
		opacity: 1;
		-ms-transform: rotate(645deg);
		-ms-animation-timing-function: linear;
		-ms-origin:30%;
	}

	70% {
		opacity: 1;
		-ms-transform: rotate(770deg);
		-ms-animation-timing-function: ease-out;
		-ms-origin:39%;
	}

	75% {
		opacity: 1;
		-ms-transform: rotate(900deg);
		-ms-animation-timing-function: ease-out;
		-ms-origin:70%;
	}

	76% {
	opacity: 0;
		-ms-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-ms-transform: rotate(900deg);
	}
}

@-webkit-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-webkit-transform: rotate(180deg);
		-webkit-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-webkit-transform: rotate(300deg);
		-webkit-animation-timing-function: linear;
		-webkit-origin:0%;
	}

	30% {
		opacity: 1;
		-webkit-transform:rotate(410deg);
		-webkit-animation-timing-function: ease-in-out;
		-webkit-origin:7%;
	}

	39% {
		opacity: 1;
		-webkit-transform: rotate(645deg);
		-webkit-animation-timing-function: linear;
		-webkit-origin:30%;
	}

	70% {
		opacity: 1;
		-webkit-transform: rotate(770deg);
		-webkit-animation-timing-function: ease-out;
		-webkit-origin:39%;
	}

	75% {
		opacity: 1;
		-webkit-transform: rotate(900deg);
		-webkit-animation-timing-function: ease-out;
		-webkit-origin:70%;
	}

	76% {
	opacity: 0;
		-webkit-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-webkit-transform: rotate(900deg);
	}
}

@-moz-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-moz-transform: rotate(180deg);
		-moz-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-moz-transform: rotate(300deg);
		-moz-animation-timing-function: linear;
		-moz-origin:0%;
	}

	30% {
		opacity: 1;
		-moz-transform:rotate(410deg);
		-moz-animation-timing-function: ease-in-out;
		-moz-origin:7%;
	}

	39% {
		opacity: 1;
		-moz-transform: rotate(645deg);
		-moz-animation-timing-function: linear;
		-moz-origin:30%;
	}

	70% {
		opacity: 1;
		-moz-transform: rotate(770deg);
		-moz-animation-timing-function: ease-out;
		-moz-origin:39%;
	}

	75% {
		opacity: 1;
		-moz-transform: rotate(900deg);
		-moz-animation-timing-function: ease-out;
		-moz-origin:70%;
	}

	76% {
	opacity: 0;
		-moz-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-moz-transform: rotate(900deg);
	}
}

/*  anime */


/**/

@media(max-width:1920px){
    .finance_freepemoney_slide_li_vivod {
    height: 513px;
}
.slide-buy {
    top: 43%;
    left: 15%;
    width: 18%;
}
}
@media(max-width:1440px) {
    .finance_freepemoney_slide_li_vivod {
    height: 463px;
}
.welcome_finance {
        margin-top: 166px;
}
.slide-buy {
    top: 58%;
    left: 17%;
}
.finance_freepemoney_slide_li_otpr {
    position: absolute;
    width: 50%;
    top: 21%;
    left: 36%;
}

}
@media(max-width1368px) {
    /* blocks */
    .finance_content .finance-freepenny {
    height: 323px;
}
.finance_content .finance-freepemoney {
    height: 323px;
}
.finance_content .finance-exchange {
    height: 323px;
}

.finance-exchange-block2 {
    height: 274px;
}

/* headers */
    .finance-freepenny h2 {
    font-size: 12pt;
}
.finance-freepemoney h2 {
    font-size: 12pt;
}

.slide-buy {
    top: 49%;
    left: 17%;
}
}

@media(max-width: 1284px) {

}
@media(max-width:1110px) {
    
.finance_content .finance-freepenny {
    display: inline-block;
    width: 45%;
    height: 331px;
    float: left;
    margin-right: 9%;
    box-shadow: inset 0 0 1px 1px #ececec;
}

.finance_content .finance-freepemoney {
    display: inline-block;
    width: 45%;
    height: 330px;
}

.finance_content {
    display: block;
    width: 100%;
    text-align: center;
}

.finance_content .finance-exchange {
    display: inline-block;
    width: 100%;
    margin-left: 1%;
    float: none;
    margin: 40px auto;
    margin-left: 0%;
    margin-bottom: 0px;
}

.router-view {
    width: 70%;
    min-width: 1%;
}
.copy {
    width: 5% !important;
}
}


@media(max-width:1024px){

    .finance_content .finance-freepenny {
    height: 317px;
}
.finance_content .finance-freepemoney {
    height: 313px;
}

.finance_freepemoney_slide_li_otpr {
    position: absolute;
    width: 75%;
    top: 69%;
    left: 14%;
}

.finance_freepemoney_slide_li_otpr_block1 {
    display: inline-block;
    width: 49.5%;
    vertical-align: top;
    text-align: left;
}
.slide-buy {
    top: 68%;
    left: 12%;
    width: 38%;
}
.finance-freepemoney-blockAdress {
    padding-bottom: 20px;
}
    .finance-transaction table, td, tr {
    border: 1px solid #e2e2e2;
    border-collapse: collapse;
    height: 58px;
    color: #9bb0da;
    font-size: 12px;
}
.finance_freepemoney_slide_li_otpr {
    position: absolute;
    width: 70%;
    top: 5%;
    left: 9%;
    background-color: #ffffff;
    box-shadow: inset 0 0 1px 1px #e2e2e2;
    background-color: #f1f1f1;
}

.finance_freepemoney_slide_li_otpr {
    position: absolute;
    width: 62%;
    top: 21%;
    left: 37%;
    background-color: #ffffff;
    box-shadow: inset 0 0 1px 1px #e2e2e2;
    background-color: #f1f1f1;
}
.welcome_finance h2 {
        font-size: 15pt;
        margin-top: 20px;
}
.finance_content .finance-freepenny {
    height: 316px;
    
}   
    .finance_content .finance-freepemoney {
    height: 312px;
}
.finance-freepenny h2 {
    padding-bottom: 7px;
}
}

/**/
@media(max-width:970px) {

    .router-view {
        width: 68%;
    }

    .finance_content {
    display: block;
    width: 100%;
}
.finance_content .finance-freepenny {
    display: inline-block;
    width: 47%;
    height: 331px;
    float: left;
    margin-right: 3%;
    box-shadow: inset 0 0 1px 1px #ececec;
}

.finance_content .finance-freepemoney {
    display: inline-block;
    width: 47%;
    height: 330px;
    
}

.finance_content .finance-exchange {
    display: inline-block;
    width: 100%;
    box-shadow: inset 0 0 1px 1px #ececec;
    margin-left: 0%;
    margin-top: 20px;
        float: left;
    /* float: right; */
}

.finance-transaction {
    width: 100%;
    height: auto;
    border: 1px solid black;
    margin-top: 50px;
    float: left;
}

.finance_freepemoney_slide_li_zapr {
    position: absolute;
    top: 13%;
    left: 20%;
    box-shadow: inset 0 0 1px 1px #e2e2e2;
    background-color: #f1f1f1;
    width: 68%;
}

.finance_freepemoney_slide_li_buy {
    position: absolute;
    top: 13%;
    left: 16%;
    box-shadow: inset 0 0 1px 1px #e2e2e2;
    background-color: #f1f1f1;
    width: 75%;
}

.finance_freepemoney_slide_li_vivod {
    position: absolute;
    width: 87%;
    top: 29%;
    left: 11%;
    background-color: #ffffff;
    box-shadow: inset 0 0 1px 1px #e2e2e2;
    background-color: #f1f1f1;
}
}

@media(max-width: 800px){
    .finance-transaction {
   display:none;
}
}

@media(max-width: 768px){
    .router-menu .header-slide-bar{
        display: block;
        height: 1189px;
    }

    .router-view {
    width: 86%;
    float: none;
    margin-left: 8%;
}

.finance_content .finance-exchange {
    display: inline-block;
    width: 99%;
    box-shadow: inset 0 0 1px 1px #ececec;
    margin-left: 0%;
    margin-top: 40px;
    float: left;
    /* float: right; */
}

.finance-transaction-alter{
    display: block;
    width: 100%;
}

.finance-transaction-alter input[type="button"]{
    margin-top: 20px;
    /* margin: 0 auto; */
    padding: 15px;
    padding-left: 35px;
    padding-right: 35px;
    /* background-color: white; */
    border: none;
        max-width: 40%;
        background-color: #ffffff;
}

#fpn {
    background-color: #3262ad;
    color: #f9f9f9;
}
.finance-transaction-alter ul {
    width: 100%;
    list-style-type: none;
    padding: 0;
}
.finance-transaction-alter li {
    width: 100%;
    height: 50px;
    text-align: center;
}
.finance-transaction-alter li:nth-child(n) {
    background-color: #f6f6f6;
}
.finance-transaction-alter li:nth-child(2n) {
    background-color: #efefef;
}

.finance-transaction-alter li p {
    padding-top: 11px;
        margin: 0;
        color:#3262ad;
        font-weight: bold;
}

.finance-transaction-alter li span{
        display: inline-block;
    width: 65px;
    background-color: #3e72c3;
    height: 49px;
    border-bottom: 1px solid #6a91ce;
    margin-right: 10px; 
    float: left;
}

.finance-transaction-alter li img{
    margin: 0px;
        padding-left: 0px;
    padding-top: 14px;
}
#img_4{
    padding-left: 10px;
}
#img_3{
    padding-left: 10px;
}
#img_2{
    
}
.finance-transaction {
    display: none;
    border: none;
}

.slide-buy {
    top: 94%;
    left: 13%;
    width: 39%;
}

/*.finance_freepemoney_slide_li_vivod {
    position: absolute;
    width: 100%;
    top: 29%;
    left: 0%;
    background-color: #ffffff;
    box-shadow: inset 0 0 1px 1px #e2e2e2;
    background-color: #f1f1f1;
}*/

.finance_freepemoney_slide_li_otpr {
    width: 82%;
    top: 92%;
    left: 13%;
}

.finance_freepemoney_slide_li_vivod {
    position: absolute;
    width: 60%;
    top: 29%;
    left: 20%;
    background-color: #ffffff;
    box-shadow: inset 0 0 1px 1px #e2e2e2;
    background-color: #f1f1f1;
}

.finance_freepemoney_slide_li_buy {
    position: absolute;
    top: 13%;
    left: 16%;
    box-shadow: inset 0 0 1px 1px #e2e2e2;
    background-color: #f1f1f1;
    width: 60%;
}

#next {
    color: #2c54a1;
    text-align: center;
    /* width: 50%; */
    max-width: 80%;
    border: 1px solid #ececec;
    box-shadow: 0px 4px 10px 0px #ececec;
}
#next:focus {
    outline: none;
}
.welcome_finance h2{
    margin-top: 20px;
    font: 14pt;
}

.finance_freepemoney_slide_li_otpr {
    position: absolute;
    width: 80%;
    top: 0%;
    left: 10%;
    background-color: #ffffff;
    box-shadow: inset 0 0 1px 1px #e2e2e2;
    background-color: #f1f1f1;
}
finance_freepemoney_slide_li_otpr span {
    text-align: left;
}
}

@media(max-width:480px){

    .app-authorized .router-view {
            width: 90%;
    margin-left: 5%;
    }
.finance_content .finance-freepemoney {
    display: inline-block;
    width: 100%;
    height: 330px;
    margin-top: 50px;
}

.alter_p {
        font-size: 75%;
    width: 100%;
    display: block;
}

.copy {
    width: 3% !important;
}

.finance_content .finance-exchange {
    width: 100%;

    /* float: right; */
}

.finance_content .finance-freepenny {
    display: inline-block;
    width: 100%;
    height: 331px;
    float: left;
    margin-right: 6%;
    box-shadow: inset 0 0 1px 1px #ececec;
}
.finance-transaction-alter{
    display: block;
    width: 100%;
}

.finance-transaction-alter input[type="button"]{
    margin-top: 20px;
    /* margin: 0 auto; */
    padding: 15px;
    padding-left: 35px;
    padding-right: 35px;
    /* background-color: white; */
    border: none;
        max-width: 40%;
        background-color: #ffffff;
        box-shadow: inset 0 0 1px 1px #ececec;
}

#fpn {
    background-color: #3262ad;
    color: #f9f9f9;
}
.finance-transaction-alter ul {
    width: 100%;
    list-style-type: none;
    padding: 0;
}
.finance-transaction-alter li {
    width: 100%;
    height: 50px;
    text-align: center;
}
.finance-transaction-alter li:nth-child(n) {
    background-color: #f6f6f6;
}
.finance-transaction-alter li:nth-child(2n) {
    background-color: #efefef;
}

.finance-transaction-alter li p {
    padding-top: 11px;
        margin: 0;
        color:#3262ad;
        font-weight: bold;
}

.finance-transaction-alter li span{
        display: inline-block;
    width: 65px;
    background-color: #3e72c3;
    height: 49px;
    border-bottom: 1px solid #6a91ce;
    margin-right: 10px; 
    float: left;
}

.finance-transaction-alter li img{
    margin: 0px;
        padding-left: 0px;
    padding-top: 14px;
}
#img_4{
    padding-left: 10px;
}
#img_3{
    padding-left: 10px;
}
#img_2{
    
}

.finance-exchange-block2{
    display: none;
}

.finance-exchange-block1-form {
    padding: 20px;
    padding-left: 20px;
    padding-top: 22px;
}

.p {
    padding-top: 0px;
    padding-left: 0%;
    font-size: 16px;
    font-weight: normal;
    font-family: "Roboto", sans-serif;
}

.finance-exchange-block1 {
    width: 100%;
    display: inline-block;
    box-shadow: inset 0 0 1px 1px #ececec;
    float: left;
    text-align: center;
}

.finance-exchange-block3 p {
    height: 30px;
    text-align: center;
    padding-top: 239px;
    margin: 0;
    padding-bottom: 10px;
}

.next{
        width: 99%;
    height: 50px;
    margin-bottom: 20px;
    text-align: center;
    color:#3262ad;
    font-weight: bold;
    border: none;
        box-shadow: inset 0 0 1px 1px #ececec;
}

.footer {
        position: absolute;
    width: 100%;
        margin: 0;
    padding-left: 0%;
    padding-right: 0%;
    box-shadow: inset 0 0 1px 1px #ececec;
    height: 70px;
    top: 1659px;
    margin-bottom: 37px;
    left: 0px;
}   

.footer ul {
   display: inline-block;
    position: absolute;
    left: 97px;
    border-left: none;
    border-right: none;
    margin: 0;
    height: 70px;
    padding: 0;
}
.footer ul li:last-child {
    text-decoration: none;
    color: #dedede;
    padding-right: 0px;
}

.footer ul li {
    display: inline-block;
    padding: 10px;
    padding-left: 0px;
    padding-top: 27px;
    padding-right: 5px;
}

.finance_freepemoney_slide_li_otpr{
    width: 100%;
    top: 59%;
    left: 0%;
}

.finance_freepemoney_slide_li_zapr {
    position: absolute;
    top: 13%;
    left: 0%;
    box-shadow: inset 0 0 1px 1px #e2e2e2;
    background-color: #f1f1f1;
    width: 100%;
}
.finance_freepemoney_slide_li_buy {
    position: absolute;
    top: 10%;
    left: 0%;
    box-shadow: inset 0 0 1px 1px #e2e2e2;
    background-color: #f1f1f1;
    width: 100%;
}

.finance_freepemoney_slide_li_buy_block3 {
    display: -webkit-inline-box;
    width: 50%;
    vertical-align: top;
}

.finance_freepemoney_slide_li_buy .block {
    display: inline-block;
    width: 49%;
    vertical-align: top;
}

.finance_freepemoney_slide_li_buy .finance_freepemoney_slide_li_buy_block2 {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

.finance_freepemoney_slide_li_buy .input2 {
    width: 69%;
    margin-left: 10%;
    margin-top: 9%;
    border: none;
    height: 40px;
    padding-left: 20px;
    box-shadow: inset 0 0 1px 1px #e2e2e2;
}

.finance_freepemoney_slide_li_buy .finance_freepemoney_slide_li_buy_block4 {
    display: inline-block;
    width: 44%;
    vertical-align: top;
}

.finance_freepemoney_slide_li_buy .input1 {
    width: 69%;
    margin-left: 10%;
    margin-top: 9%;
    border: none;
    height: 40px;
    padding-left: 20px;
    margin-bottom: 1%;
    box-shadow: inset 0 0 1px 1px #e2e2e2;
}

.finance_freepemoney_slide_li_buy_block3 .input3 {
    margin-left: 4%;
    width: 87%;
    margin-top: 11%;
    height: 40px;
    border: none;
    background-color: #3262ad;
    border-radius: 4%;
    color: #ffffff;
    box-shadow: inset 0 0 1px 1px #e2e2e2;
    margin-bottom: 16%;
}


.finance_freepemoney_slide_li_vivod_block1 {
    display: block;
    width: 100%;
}

.finance_freepemoney_slide_li_vivod_block2 {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    margin-top: 25%;
    margin-bottom: 10%;
}

#next {
    color: #2c54a1;
    text-align: center;
    /* width: 50%; */
    max-width: 80%;
}

.finance-transaction {
    display: none !important;
}

}

@media(max-width: 425px) {
    .welcome_finance {
        margin-top: 0px;
        width: 99%;
    }

    .finance_content .finance-freepenny {
    height: 314px;
}
.finance_content .finance-freepemoney {
    display: inline-block;
    width: 100%;
    height: 312px;
    margin-top: 50px;
}
.finance_freepemoney_slide_li_otpr {
    width: 100%;
    top: 97%;
    left: 0%;
}

.finance_freepemoney_slide_li_otpr_block1 {
    display: block;
    width: 89%;
    vertical-align: top;
    text-align: left;
}
.finance_freepemoney_slide_li_otpr_block2 {
    display: block;
    width: 50%;
    vertical-align: top;
    float: none;
    margin: 0 auto;
}
.finance_freepemoney_slide_li_otpr_block2 .input7 {
    margin-left: 6%;
    width: 81%;
    height: 40px;
    border: none;
    background-color: #65d5eb;
    color: #ffffff;
    margin-top: 20%;
    border-radius: 4px;
    margin-bottom: 20px;
}
.slide-buy {
    top: 94%;
    left: 10%;
    width: 80%;
    margin: 0 auto;
}
}

@media(max-width:375px) {
    .alter_p {
        font-size: 70%;
        width: 100%;
        display: block;
    }
    .finance_freepemoney_slide_li_otpr_block1 .input1 {
    margin-left: 5%;
    width: 90%;
    height: 35px;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: inset 0 0 1px 1px #e2e2e2;
}

.finance_freepemoney_slide_li_otpr_block1 .textarea {
    margin-left: 5%;
    width: 98%;
    border: none;
    height: 100px;
    padding-left: 13px;
    padding-top: 10px;
    margin-bottom: 8%;
    box-shadow: inset 0 0 1px 1px #e2e2e2;
}
}

@media(max-width:320px) {
    .finance-transaction-alter li p {
    padding-top: 11px;
    margin: 0;
    color: #3262ad;
    font-size: 12px;
    font-weight: bold;
}

.alter_p {
    font-size: 58% !important;
    width: 100%;
    display: block;
}
}