<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
<title>FreePe</title>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
</head>
<body style="text-align: center;">
<style>
*{
font-size: 16px;
font-family: 'Open Sans',sans-serif;
}
p{
	font-size: 18px;
	margin: 10px;
}
</style>
<h1 style="font-size: 22px;">FreePe periodic news</h1><br>
<p>As of October, 1, 2016 we have 10 000+ active users!</p>
<p>Thank you for being one of them.</p>
<p>Our project grows very quickly. Stay tuned for more.</p>
<hr>
<div><b><%=email;%></b> was registered in FreePe.IO for news.</div>
<div><a href="http://promo.freepe.io/unsubscribe?email=<%=email;%>" style="color: #0099cc;">unsubscribe</a></div>
<br><br>
</body>
</html>