<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
<title>FreePe</title>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
</head>
<body style="text-align: center;">
<style>
*{
font-size: 18px;
font-family: 'Open Sans',sans-serif;
}
</style>
<h1 style="font-size: 24px;">Some of your referral made a payment</h1><br>
<p>So, we give you appropriate percent from his payment. View transaction info here:</p>
<div><%=txId;%></div>
<br><br>
</body>
</html>